<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Text Fields-->
    <h2>Text Fields</h2>
    <form action="#">
        <label for="fname">First Name</label>
        <input type="text" id=""fname">
        <br><br>

        <label for="lname">Last Name</label>
        <input type="text" id="lname">
    </form>
    <br>
    <br>
    <h2>Textarea</h2>
<!--Textarea Fields-->

<h2>message</h2>
<form action="#">
    <textarea rows="10"
    cols="20"
    name="blog">
     Share your knowledge by writing your own blog!
</textarea>
<br>
<input type="sumbmit" value="submit">
</form>
<br>
<!--Radio fields-->
<h1>Radio Fields</h1>
<form method="post">
    <label for="fruit">Select afruit:</label>
    <select id="fruit"name="fruit">
        <option value="">-Please choose an option-</option>
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="mango">Mango</option>
    </select>
    <br><br>
    <input type="submit"value="Submit">
</form>
<br><br>
<h1>Radio Btton</h1>
<div>
    <input type="radio"
           id="Netflix"
           name="brand"
           value="Netflix">
           <label for="netflix">Netflix</label>
           
</div>
<div>
    <input type="radio"
    id="Audi"
    name="brand"
    value="Audi">
    <label for="Audi">Audi</label>

</div>
<div>
<input type="radio"
id="prime"
name="brand"
value="prime">
<label for="Audi">Audi</label>

</div>
<br>
<h1>Select Your Favorite Fruits</h1>

<form method="post">
    <label><input type="checkbox"
        name="fruit"value="apple">Apple</label>
    <br>

    <label><input type="checkbox"
         name="fruit"value="banana">Banana</label>
        <br>
    <input type="submit"value="Submit">
</form>
<br>
<form>
    User ID:<input type="text" name="user_id"/>
    <br>
    Password: <input type="password" name="password">
</form>

<br>
<input type="reset"value="reset">
<br>
<head>
<title>Bottons</title>
</head>
<form>
    <input type="submit" name="submit" value="Submit"/>
    <input type="reset" name="reset" value="Reset"/>
    <input type="button" name="ok" value="Ok"/>
    <input type="image" name="imagebutton" src="c:\Users\veena\Pictures\bird.webp"/>
</form>
</body>
</html>


